@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0;
}
header, section, footer {
    text-align: center;
    font-size: 25px;
}
h2 {
    font-family: 'Pacifico', cursive;
}
section {
    margin: 0 10%;
    padding-top: 30%;
    width: 80%;
}
header > section {
    padding-top: 35%;
}
nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav > a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.noColor {
    background-color: #333;
    color: #f2f2f2;
}
.active {
    background-color: #ddd;
    color: black;
}
section > img {
    border-radius: 50%;
    width: 45%;
}
#about {
    box-sizing: border-box;
  }
  
  
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    width: 80%;
    margin: 0 5%;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: green;
    top: 0;
    bottom: 0;
    left: 18px;
    margin-left: -3px;
    z-index: -1;
}
/* Container around content */
.container {
    padding: 1% 2%;
    position: relative;
    background-color: inherit;
    width: 80%;
}
  
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0px;
    background-color: white;
    border: 5px solid green;
    top: 10px;
    border-radius: 50%;
    z-index: 0;
}
  
/* Place the container to the left */
.left {
    left: 0;
}
/* The actual content */
.content {
    padding: 2% 10%;
    text-align: left;
}

#skills > div > img {
    display: inline-block;
    margin: 2%;
    width: 25%;
}
.recommendations > img {
    margin: 1%;
    width: 35%;
}
footer {
    padding: 5%;
    padding-top: 30%;
    background-color: #333;
    color: white;
}
footer > div {
    display: inline-block;
    margin: 1%;
    padding: 1%;
    width: 80%;
}
footer > div > p > a {
    color: none;
    text-decoration: none;
}
.icon {
    margin: 1%;
    padding: 1%;
    width: 10%;
}

@media screen and (min-width:992px){
    nav > a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 1% 2%;
        text-decoration: none;
        font-size: 80%;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    section {
        margin: 0 10%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        width: 80%;
    }
    header > section {
        padding-top: 5%;
        padding-bottom: 2.5%;
    }
    section > img {
        border-radius: 50%;
        width: 25%;
    }
    #skills > div > img {
        display: inline-block;
        margin: 2%;
        width: 10%;
    }
    .recommendations > img {
        margin: 1%;
        width: 15%;
    }
    footer > div {
        display: inline-block;
        width: 40%;
    }
}
