@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
    margin: 0;
    background-color: #ddd;
}
header, section, footer {
    text-align: center;
}
section > div > h2 {
    font-family: 'Caveat', cursive;
    font-size: 300%;
}
section > h2 {
    font-family: 'Caveat', cursive;
    font-size: 300%;
}
section {
    margin: 0 10%;
    padding-top: 15%;
    width: 80%;
    font-size: 200%;
}
header > section > div > p {
    font-family: 'Caveat', cursive;
    font-size: 200%;
}
nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: left;
}
nav > a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    font-weight: bold;
    font-size: 80%;
    font-family: 'Caveat', cursive;
}
#dropdown {
    padding-top: 15%;
    display: none;
    background-color: #333;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#dropdown > a {
    display: block;
    text-align: left;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 350%;
    font-weight: bold;
    font-family: 'Caveat', cursive;
}
.noColor {
    background-color: #333;
    color: #f2f2f2;
}
.active {
    background-color: #ddd;
    color: #000000;
}
.nodColor {
    background-color: #333;
    color: #f2f2f2;
}
.dactive {
    background-color: #ddd;
    color: #000000;
}
.link {
    display: none;
}
section > img {
    border-radius: 50%;
    width: 60%;
}
#about {
    box-sizing: border-box;
}
 /* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    width: 90%;
    margin: 0 5%;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #008000;
    top: 0;
    bottom: 0;
    left: 18px;
    margin-left: -3px;
    z-index: -1;
}
/* Container around content */
.container {
    padding: 1% 2%;
    position: relative;
    background-color: inherit;
    width: 80%;
}
  
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0px;
    background-color: #ffffff;
    border: 5px solid #008000;
    top: 20px;
    border-radius: 50%;
    z-index: 0;
}
  
/* Place the container to the left */
.left {
    left: 0;
}
/* The actual content */
.content {
    font-family: 'Caveat', cursive;
    padding: 2% 10%;
    width: 100%;
    text-align: left;
    font-size: 200%;
}

#skills > div > img {
    display: inline-block;
    margin: 2%;
    width: 25%;
}
.recommendations {
    font-family: 'Caveat', cursive;
    font-size: 200%;
}
.recommendations > img {
    margin: 1%;
    width: 35%;
}
footer {
    padding-top: 30%;
    color: white;
}
footer > div {
    margin-top: 2%;
    width: 100%;
    background-color: #333;
}
footer > div > div {
    display: inline-block;
    margin: 1%;
    padding: 1%;
    width: 80%;
    font-family: 'Caveat', cursive;
}
footer > div > div {
    font-size: 300%;
}
footer > div > div > h2 {
    font-family: 'Caveat', cursive;
    font-size: 200%;
}
footer > div > div > p > a {
    color: transparent;
    text-decoration: none;
}
.icon {
    padding: 2%;
    width: 10%;
}

@media screen and (min-device-width:768px){
    nav > a {
        float: left;
        font-size: 250%;
    }
    nav > img, #dropdown {
        display: none;
    }
    .link {
        display: block;
    }
    header > section {
        padding-top: 10%;
    }
    section > div {
        padding-top: 5%;
        font-size: 80%;
    }
    header > section > div {
        font-size: 80%;
    }
    section > img {
        width: 40%;
    }
}

@media screen and (min-device-width:992px) {
    nav > a {
        font-size: 150%;
    }
    section {
        padding-top: 1%;
    }
    header > section > img {
        width: 25%;
        display: inline-block;
        float: left;
    }
    header > section > div {
        padding-top: 1%;
        display: inline-block;
        width: 70%;
        font-size: 50%;
    }
    section > h2 {
        font-size: 200%;
    }
    header > section > div > p {
        font-size: 150%;
    }
    .content {
        font-size: 100%;
    }
    #skills > div > img {
        display: inline-block;
        margin: 2%;
        width: 10%;
    }
    .recommendations {
        font-size: 100%;
    }
    .recommendations > img {
        margin: 1%;
        width: 15%;
    }
    footer {
        padding-top: 1%;
    }
    footer > div > div {
        display: inline-block;
        width: 45%;
    }
    footer > div > div > h2 {
        font-size: 100%;
    }
    footer > div > div > p {
        font-size: 80%;
    }
}
